<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeLeaf.org"
      lang="pl">

<head>
    <title>Filharmonix</title>
    <meta charset="UTF-8">
    <meta name="description" content="website description"/>
    <meta name="keywords" content="website keywords, website keywords"/>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252"/>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}"/>
</head>

<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <h1><a href="/admin/wydarzenia">Filhar<span class="logo_colour">monix</span></a></h1>
                <h2>Bardzo. Chwytliwy. Slogan</h2>
            </div>
        </div>
        <div id="menubar">

            <ul id="menu">
                <li style="text-align: left"><strong>Jesteś zalogowany jako: <span
                        th:text="${#authentication.getPrincipal().getUsername()}"></span></strong></li>
                <li><a href="/admin/wydarzenia">Wydarzenia</a></li>
                <li class="selected"><a href="/admin/rodzaje">Rodzaje</a></li>
                <li><a href="/admin/sale">Sale</a></li>
                <li><a href="#" th:href="@{/logout}">Wyloguj się</a></li>
            </ul>
        </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
        <div id="banner"></div>
        <div id="sidebar_container">
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">
                    <h3>Nadchodzące wydarzenie:</h3>
                    <h4 th:text="${nextWydarzenie.getNazwa_wydarzenia()}"></h4>
                    <h5 th:text="${#temporals.format(nextWydarzenie.getCzas_rozpoczecia(), 'dd-MM-yyyy HH:mm')}"></h5>
                    <p th:text="${nextWydarzenie.getOpis()}"><br/>
                </div>
                <div class="sidebar_base"></div>
            </div>
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">
                    <h3>Dane adresowe:</h3>
                    <ul>
                        <li th:text="${filharmonia.getNazwa_filharmonii()}"></li>
                        <li th:text="${filharmonia.getAdres().getMiasto()}"></li>
                        <li th:text="'Ulica '+${filharmonia.getAdres().getUlica()}+' '+${filharmonia.getAdres().getNr_budynku()}"></li>
                        <li th:text="${filharmonia.getAdres().getKod_pocztowy}"></li>
                    </ul>
                </div>
                <div class="sidebar_base"></div>
            </div>
        </div>
        <div id="content" style="text-align: center">
            <div th:if="${rodzajList.size()}">
                <h1>Rodzaje Wydarzenia</h1>
                <table style="margin-left: auto; margin-right: auto">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nazwa rodzaju</th>
                        <th>Opis</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="rodzaj : ${rodzajList}">
                        <td th:text="${rodzaj.getId_rodzaju}">ID</td>
                        <td th:text="${rodzaj.getNazwa_rodzaju}">Nazwa rodzaju</td>
                        <td th:text="${rodzaj.getOpis}">Opis</td>
                        <td>
                            <a th:href="@{'/admin/edytujRodzaj/'+${rodzaj.getId_rodzaju}}">Edytuj</a>
                            <a th:href="@{'/admin/usunRodzaj/'+${rodzaj.getId_rodzaju}}"
                               onclick="return confirm('Czy na pewno chcesz usunąć?')">Usuń</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a th:href="@{/admin/nowyRodzaj}" style="text-align: center">Dodaj nowy rodzaj wydarzenia</a>
            </div>
            <div th:unless="${rodzajList.size()}">
                <h1 style="text-align: center">Brak rodzajów wydarzeń</h1>
            </div>
        </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
        <p><a href="/admin/wydarzenia">Wydarzenia</a> | <a href="/admin/rodzaje">Rodzaje</a> | <a href="/admin/sale">Sale</a>
            | <a href="#" th:href="@{/logout}">Wyloguj się</a></p>
        <p> Projekt BADA 2021/2022 | <a>Szymon Kasperek</a> | <a> Marcin Latawiec </a> | <a>Filharmonix</a></p>
    </div>
</div>
</body>
</html>
