<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeLeaf.org"
      lang="pl">

<head>
    <title>Filharmonix</title>
    <meta charset="UTF-8">
    <meta name="description" content="website description"/>
    <meta name="keywords" content="website keywords, website keywords"/>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252"/>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}"/>
</head>

<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <h1><a href="/">Filhar<span class="logo_colour">monix</span></a></h1>
                <h2>Bardzo. Chwytliwy. Slogan</h2>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <li class="selected"><a href="/">O nas</a></li>
                <li><a href="/wydarzenia">Wydarzenia</a></li>
                <li><a href="/login">Logowanie</a></li>
                <li><a href="/register">Rejestracja</a></li>
            </ul>
        </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
        <div id="banner"></div>
        <div id="sidebar_container">
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">
                    <h3>Nadchodzące wydarzenie:</h3>
                    <h4 th:text="${nextWydarzenie.getNazwa_wydarzenia()}"></h4>
                    <h5 th:text="${#temporals.format(nextWydarzenie.getCzas_rozpoczecia(), 'dd-MM-yyyy HH:mm')}"></h5>
                    <p th:text="${nextWydarzenie.getOpis()}"><br/>
                </div>
                <div class="sidebar_base"></div>
            </div>
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_item">
                    <h3>Dane adresowe:</h3>
                    <ul>
                        <li th:text="${filharmonia.getNazwa_filharmonii()}"></li>
                        <li th:text="${filharmonia.getAdres().getMiasto()}"></li>
                        <li th:text="'Ulica '+${filharmonia.getAdres().getUlica()}+' '+${filharmonia.getAdres().getNr_budynku()}"></li>
                        <li th:text="${filharmonia.getAdres().getKod_pocztowy}"></li>
                    </ul>
                </div>
                <div class="sidebar_base"></div>
            </div>
        </div>
        <div id="content">

        <h1>Witaj w Filharmonix</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum consequat elit eu mollis.
                Aliquam quis est semper, maximus ligula at, rutrum dui. Ut in tortor efficitur turpis pellentesque
                blandit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla
                porttitor aliquet lorem, vitae viverra metus porttitor non. Fusce posuere libero condimentum semper
                blandit. Mauris bibendum odio at purus ultricies blandit.</p>
            <p>Aenean tempor venenatis tempus. Integer venenatis metus sed lectus porta feugiat. In in eros vitae erat
                pulvinar convallis vel id neque. Donec mollis iaculis pharetra. Morbi vitae ullamcorper sapien. Nullam
                vitae dapibus leo, at auctor nulla. Mauris sagittis, erat id posuere aliquet, tellus neque convallis
                ipsum,
                non congue ligula eros sit amet nunc. Curabitur venenatis tellus quis scelerisque accumsan.</p>
        </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
        <p><a href="/">O nas</a> | <a href="/wydarzenia">Wydarzenia</a> | <a href="/login">Logowanie</a> | <a
                href="/register">Rejestracja</a></p>
        <p> Projekt BADA 2021/2022 | <a>Szymon Kasperek</a> | <a> Marcin Latawiec </a> | <a>Filharmonix</a></p>
    </div>
</div>
</body>
</html>
